<button class="btn btn-danger" (click)="editTable(modalTemplate)">Edit</button>

<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit table {{ table.name }}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup">
      <h5>Basic</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="tableType">Table type</label>
          <select id="tableType" class="form-control" formControlName="tableType" [ngClass]="{ 'is-invalid': submitted && f.tableType.errors }">
            <option>MANAGED_TABLE</option>
            <option>EXTERNAL_TABLE</option>
          </select>
          <div *ngIf="submitted && f.tableType.errors" class="invalid-feedback">
            <div *ngIf="f.tableType.errors.required">Table type is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputOwner">Owner</label>
        <input type="text" class="form-control" id="inputOwner" formControlName="owner" [ngClass]="{ 'is-invalid': submitted && f.owner.errors }">
      </div>
      <p>Parameters</p>
      <div class="form-row" *ngFor="let parameter of tableParameters.controls ; let i = index" [formGroup]="parameter">
        <div class="form-group col-md-6" >
          <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['key'].errors }">
          <div *ngIf="submitted && parameter['controls']['key'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['key'].errors.required">Key is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['value'].errors }">
          <div *ngIf="submitted && parameter['controls']['value'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['value'].errors.required">Value is required</div>
          </div>
        </div>
        <div class="form-group col-md-1">
          <span class="btn btn-danger" (click)="deleteParameter(tableParameters, i)">Delete</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="btn btn-success" (click)="addParameter(tableParameters)">Add</div>
        </div>
      </div>
      <hr>
      <h5>Columns</h5>
      <div class="form-row" *ngFor="let column of columns.controls ; let i = index" [formGroup]="column">
        <div class="form-group col-md-6" >
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && column['controls']['name'].errors }">
          <div *ngIf="submitted && column['controls']['name'].errors" class="invalid-feedback">
            <div *ngIf="column['controls']['name'].errors.required">Column name is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <label>Type</label>
          <input type="text" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && column['controls']['type'].errors }">
          <div *ngIf="submitted && column['controls']['type'].errors" class="invalid-feedback">
            <div *ngIf="column['controls']['type'].errors.required">Column type is required</div>
          </div>
        </div>
        <div class="form-group col-md-11">
          <label>Comment</label>
          <textarea class="form-control" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && column['controls']['comment'].errors }"></textarea>
        </div>
        <div class="form-group col-md-1">
          <span class="btn btn-danger" (click)="deleteParameter(columns, i)">Delete</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="btn btn-success" (click)="addColumn(columns)">Add</div>
        </div>
      </div>
      <hr>

      <h5>Storage</h5>
      <div class="form-group">
        <label for="inputLocation">Location</label>
        <input type="text" class="form-control" id="inputLocation" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputInputFormat">Input format</label>
          <input type="text" class="form-control" id="inputInputFormat" formControlName="inputFormat" [ngClass]="{ 'is-invalid': submitted && f.inputFormat.errors }">
          <div *ngIf="submitted && f.inputFormat.errors" class="invalid-feedback">
            <div *ngIf="f.inputFormat.errors.required">Input format is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputOutputFormat">Output format</label>
          <input type="text" class="form-control" id="inputOutputFormat" formControlName="outputFormat" [ngClass]="{ 'is-invalid': submitted && f.outputFormat.errors }">
          <div *ngIf="submitted && f.outputFormat.errors" class="invalid-feedback">
            <div *ngIf="f.outputFormat.errors.required">Output format is required</div>
          </div>
        </div>
      </div>
      <p>Parameters</p>
      <div class="form-row" *ngFor="let parameter of storageParameters.controls ; let i = index" [formGroup]="parameter">
        <div class="form-group col-md-6" >
          <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['key'].errors }">
          <div *ngIf="submitted && parameter['controls']['key'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['key'].errors.required">Key is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['value'].errors }">
          <div *ngIf="submitted && parameter['controls']['value'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['value'].errors.required">Value is required</div>
          </div>
        </div>
        <div class="form-group col-md-1">
          <span class="btn btn-danger" (click)="deleteParameter(storageParameters, i)">Delete</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="btn btn-success" (click)="addParameter(storageParameters)">Add</div>
        </div>
      </div>
      <hr>

      <h5>SerDe configuration</h5>
      <div class="form-group">
        <label for="inputSerializationLib">Serialization library</label>
        <input type="text" class="form-control" id="inputSerializationLib" formControlName="serializationLib" [ngClass]="{ 'is-invalid': submitted && f.serializationLib.errors }">
        <div *ngIf="submitted && f.serializationLib.errors" class="invalid-feedback">
          <div *ngIf="f.serializationLib.errors.required">Serialization library is required</div>
        </div>
      </div>
      <p>Parameters</p>
      <div class="form-row" *ngFor="let parameter of serializationParameters.controls ; let i = index" [formGroup]="parameter">
        <div class="form-group col-md-6" >
          <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['key'].errors }">
          <div *ngIf="submitted && parameter['controls']['key'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['key'].errors.required">Key is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['value'].errors }">
          <div *ngIf="submitted && parameter['controls']['value'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['value'].errors.required">Value is required</div>
          </div>
        </div>
        <div class="form-group col-md-1">
          <span class="btn btn-danger" (click)="deleteParameter(serializationParameters, i)">Delete</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="btn btn-success" (click)="addParameter(serializationParameters)">Add</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading" type="button" class="btn btn-primary" (click)="saveTable(modal)"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save</button>
    <button type="button" class="btn btn-danger" (click)="cancelEdit(modal)">Cancel</button>
  </div>
</ng-template>
