<div class="card">
  <div class="card-header">
    Basic information
  </div>
  <div class="card-body card-table">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">Name</div>
          <div class="col-md-9">{{ data.name }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">Location</div>
          <div class="col-md-9">{{ data.location }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">Description</div>
          <div class="col-md-9">{{ data.description }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">Owner</div>
          <div class="col-md-9">{{ data.owner }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">Owner type</div>
          <div class="col-md-9">{{ data.ownerType }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
