<button class="btn btn-lg btn-block btn-success" (click)="openModal(modalContent)">New database</button>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New database</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="location">Location</label>
          <input type="text" formControlName="location" class="form-control" id="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" formControlName="description" id="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="owner">Owner</label>
          <input type="text" class="form-control" formControlName="owner" id="owner" [ngClass]="{ 'is-invalid': submitted && f.owner.errors }">
        </div>
        <div class="form-group col-md-6">
          <label for="ownerType">Owner type</label>
          <select id="ownerType" class="form-control" formControlName="ownerType" [ngClass]="{ 'is-invalid': submitted && f.ownerType.errors }">
            <option>USER</option>
            <option>GROUP</option>
            <option>ROLE</option>
          </select>
        </div>
      </div>
      <div class="form-row">
      </div>

      <h5>Parameters</h5>
      <div class="form-row" *ngFor="let parameter of t.controls ; let i = index" [formGroup]="parameter">
        <div class="form-group col-md-6" >
          <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['key'].errors }">
          <div *ngIf="submitted && parameter['controls']['key'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['key'].errors.required">Key is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && parameter['controls']['value'].errors }">
          <div *ngIf="submitted && parameter['controls']['value'].errors" class="invalid-feedback">
            <div *ngIf="parameter['controls']['value'].errors.required">Value is required</div>
          </div>
        </div>
        <div class="form-group col-md-1">
          <span class="btn btn-danger" (click)="deleteParameter(i)">Delete</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="btn btn-success" (click)="addParameter()">Add</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="submitted" type="button" class="btn btn-primary" (click)="createDatabase(modal)"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create</button>
    <button type="button" class="btn btn-danger" (click)="cancelCreation(modal)">Cancel</button>
  </div>
</ng-template>
